* {
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    /* border: 1px solid white; */
    /* background-color: rgb(80, 80, 192); */
    color: aliceblue;
    box-sizing: border-box;
}

#container {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

#top {
    width: 100%;
    height: 170px;
    background-color: rgb(50, 25, 14);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid grey;

}

#top-top {
    width: 100%;
    height: 50%;
    border-bottom: 1px solid grey;
    background-color: bisque;
    padding: 1%;
    /* color: black; */
}

#top-top h1 {
    color: black
    
}

#top-bottom {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1% 4%;
    background-color: rgb(50, 25, 14);
}

.top-link {
    width: 9%;
    height: 100%;
    /* background-color: rgb(50, 25, 14); */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
}

#top a {
    margin: auto;
}

.top-link:hover {
    box-shadow: inset 3px 3px 50px rgb(152, 79, 48);
}

#center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 85%;
    background-color: rgb(50, 25, 14);
}

#center-left {
    width: 15%;
    height: 100%;
    border-right: 1px solid grey;
}

#center-left-top {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: start;
}

#center-left-center {
    height: 15%;
    width: 100%;
}

#center-left-bottom {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.left-link {
    height: 10%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
}

#center-left-bottom .left-link {
    height: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-link:hover {
    box-shadow: inset 3px 3px 50px rgb(46, 64, 64);
}

#center-center {
    width: 65%;
    height: 100%;
    background-color: bisque;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-right: 1px solid grey;
}

.center-div {
    width: 600px;
    height: 600px;
    background-color: rgb(27, 27, 49);
    margin: 2%;
    flex-shrink: 0;
    border: 1px solid grey;
}

img {
    width: 600px;
    height: 500px;
}

p {
    font-size: 40px;
    text-align: center;
}

#center-right {
    width: 20%;
    height: 100%;
    background-color: rgb(50, 25, 14);
}